{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> SKT타워 운영현황 </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->        
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
         <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-3">
                <a class="navbar-brand" href="{% url 'index' %}">TSOP Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link" href="{% url 'oa_control' %}">재실자 기반 환기량</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'enthalpy_control' %}">외기냉방 제어</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'ahu_optimal_control' %}">공조기 최적기동 시간</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'elec_consumption' %}">전력소비(예정)</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'elec_peak' %}">전력 Peak(예정)</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-2 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-3 m-lg-5">
                        <h2 class="fs-4 fw-bold"> SKT타워 외기냉방 현황 </h2>
                        <p class="mb-0"> 현제시간: {{time}} </p>
                        <p class="mb-0"> 실외엔탈피: {{out_enthalpy}}kj/kg ({{out_Temperature}}℃ / {{out_Humidity}}%) </p>
                        <p class="mb-0"> 최고온도층: {{in_Max_TF}} ({{in_Max_Temperature}}℃) </p>
                        <p class="mb-0"> 최저온도층: {{in_Min_TF}} ({{in_Min_Temperature}}℃) </p>
                        <p class="mb-0"> 평균온도: {{in_Mean_Temperature}}℃ </p>
                        <p class="mb-0"> 냉방방식 및 Data 점검 필요: {{check_need}} </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-lightning"></i></div>
                                <h2 class="fs-4 fw-bold"> SKT타워 외기냉방 현황 </h2>
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th scope="col">층</th>
                                      <th scope="col">외기댐퍼(%)</th>
                                      <th scope="col">온도(℃)</th>
                                      <th scope="col">엔탈피(kj/kg)</th>
                                      <th scope="col">추천방식</th>
                                      <th scope="col">현재방식</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">01F</th>
                                      <td>{{table.od_value.1F}}</td>
                                      <td>{{table.in_Temperature.1F}}</td>
                                      <td>{{table.in_enthalpy.1F}}</td>
                                      <td>{{table.recommend.1F}}</td>
                                      <td>{{table.now_state.1F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">02F</th>
                                      <td>{{table.od_value.2F}}</td>
                                      <td>{{table.in_Temperature.2F}}</td>
                                      <td>{{table.in_enthalpy.2F}}</td>
                                      <td>{{table.recommend.2F}}</td>
                                      <td>{{table.now_state.2F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">03F</th>
                                      <td>{{table.od_value.3F}}</td>
                                      <td>{{table.in_Temperature.3F}}</td>
                                      <td>{{table.in_enthalpy.3F}}</td>
                                      <td>{{table.recommend.3F}}</td>
                                      <td>{{table.now_state.3F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">04F</th>
                                      <td>{{table.od_value.4F}}</td>
                                      <td>{{table.in_Temperature.4F}}</td>
                                      <td>{{table.in_enthalpy.4F}}</td>
                                      <td>{{table.recommend.4F}}</td>
                                      <td>{{table.now_state.4F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">05F</th>
                                      <td>{{table.od_value.5F}}</td>
                                      <td>{{table.in_Temperature.5F}}</td>
                                      <td>{{table.in_enthalpy.5F}}</td>
                                      <td>{{table.recommend.5F}}</td>
                                      <td>{{table.now_state.5F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">06F</th>
                                      <td>{{table.od_value.6F}}</td>
                                      <td>{{table.in_Temperature.6F}}</td>
                                      <td>{{table.in_enthalpy.6F}}</td>
                                      <td>{{table.recommend.6F}}</td>
                                      <td>{{table.now_state.6F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">07F</th>
                                      <td>{{table.od_value.7F}}</td>
                                      <td>{{table.in_Temperature.7F}}</td>
                                      <td>{{table.in_enthalpy.7F}}</td>
                                      <td>{{table.recommend.7F}}</td>
                                      <td>{{table.now_state.7F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">08F</th>
                                      <td>{{table.od_value.8F}}</td>
                                      <td>{{table.in_Temperature.8F}}</td>
                                      <td>{{table.in_enthalpy.8F}}</td>
                                      <td>{{table.recommend.8F}}</td>
                                      <td>{{table.now_state.8F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">09F</th>
                                      <td>{{table.od_value.9F}}</td>
                                      <td>{{table.in_Temperature.9F}}</td>
                                      <td>{{table.in_enthalpy.9F}}</td>
                                      <td>{{table.recommend.9F}}</td>
                                      <td>{{table.now_state.9F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">10F</th>
                                      <td>{{table.od_value.10F}}</td>
                                      <td>{{table.in_Temperature.10F}}</td>
                                      <td>{{table.in_enthalpy.10F}}</td>
                                      <td>{{table.recommend.10F}}</td>
                                      <td>{{table.now_state.10F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">11F</th>
                                      <td>{{table.od_value.11F}}</td>
                                      <td>{{table.in_Temperature.11F}}</td>
                                      <td>{{table.in_enthalpy.11F}}</td>
                                      <td>{{table.recommend.11F}}</td>
                                      <td>{{table.now_state.11F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">12F</th>
                                      <td>{{table.od_value.12F}}</td>
                                      <td>{{table.in_Temperature.12F}}</td>
                                      <td>{{table.in_enthalpy.12F}}</td>
                                      <td>{{table.recommend.12F}}</td>
                                      <td>{{table.now_state.12F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">13F</th>
                                      <td>{{table.od_value.13F}}</td>
                                      <td>{{table.in_Temperature.13F}}</td>
                                      <td>{{table.in_enthalpy.13F}}</td>
                                      <td>{{table.recommend.13F}}</td>
                                      <td>{{table.now_state.13F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">14F</th>
                                      <td>{{table.od_value.14F}}</td>
                                      <td>{{table.in_Temperature.14F}}</td>
                                      <td>{{table.in_enthalpy.14F}}</td>
                                      <td>{{table.recommend.14F}}</td>
                                      <td>{{table.now_state.14F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">15F</th>
                                      <td>{{table.od_value.15F}}</td>
                                      <td>{{table.in_Temperature.15F}}</td>
                                      <td>{{table.in_enthalpy.15F}}</td>
                                      <td>{{table.recommend.15F}}</td>
                                      <td>{{table.now_state.15F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">16F</th>
                                      <td>{{table.od_value.16F}}</td>
                                      <td>{{table.in_Temperature.16F}}</td>
                                      <td>{{table.in_enthalpy.16F}}</td>
                                      <td>{{table.recommend.16F}}</td>
                                      <td>{{table.now_state.16F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">17F</th>
                                      <td>{{table.od_value.17F}}</td>
                                      <td>{{table.in_Temperature.17F}}</td>
                                      <td>{{table.in_enthalpy.17F}}</td>
                                      <td>{{table.recommend.17F}}</td>
                                      <td>{{table.now_state.17F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">18F</th>
                                      <td>{{table.od_value.18F}}</td>
                                      <td>{{table.in_Temperature.18F}}</td>
                                      <td>{{table.in_enthalpy.18F}}</td>
                                      <td>{{table.recommend.18F}}</td>
                                      <td>{{table.now_state.18F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">19F</th>
                                      <td>{{table.od_value.19F}}</td>
                                      <td>{{table.in_Temperature.19F}}</td>
                                      <td>{{table.in_enthalpy.19F}}</td>
                                      <td>{{table.recommend.19F}}</td>
                                      <td>{{table.now_state.19F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">20F</th>
                                      <td>{{table.od_value.20F}}</td>
                                      <td>{{table.in_Temperature.20F}}</td>
                                      <td>{{table.in_enthalpy.20F}}</td>
                                      <td>{{table.recommend.20F}}</td>
                                      <td>{{table.now_state.20F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">21F</th>
                                      <td>{{table.od_value.21F}}</td>
                                      <td>{{table.in_Temperature.21F}}</td>
                                      <td>{{table.in_enthalpy.21F}}</td>
                                      <td>{{table.recommend.21F}}</td>
                                      <td>{{table.now_state.21F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">22F</th>
                                      <td>{{table.od_value.22F}}</td>
                                      <td>{{table.in_Temperature.22F}}</td>
                                      <td>{{table.in_enthalpy.22F}}</td>
                                      <td>{{table.recommend.22F}}</td>
                                      <td>{{table.now_state.22F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">23F</th>
                                      <td>{{table.od_value.23F}}</td>
                                      <td>{{table.in_Temperature.23F}}</td>
                                      <td>{{table.in_enthalpy.23F}}</td>
                                      <td>{{table.recommend.23F}}</td>
                                      <td>{{table.now_state.23F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">24F</th>
                                      <td>{{table.od_value.24F}}</td>
                                      <td>{{table.in_Temperature.24F}}</td>
                                      <td>{{table.in_enthalpy.24F}}</td>
                                      <td>{{table.recommend.24F}}</td>
                                      <td>{{table.now_state.24F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">25F</th>
                                      <td>{{table.od_value.25F}}</td>
                                      <td>{{table.in_Temperature.25F}}</td>
                                      <td>{{table.in_enthalpy.25F}}</td>
                                      <td>{{table.recommend.25F}}</td>
                                      <td>{{table.now_state.25F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">26F</th>
                                      <td>{{table.od_value.26F}}</td>
                                      <td>{{table.in_Temperature.26F}}</td>
                                      <td>{{table.in_enthalpy.26F}}</td>
                                      <td>{{table.recommend.26F}}</td>
                                      <td>{{table.now_state.26F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">27F</th>
                                      <td>{{table.od_value.27F}}</td>
                                      <td>{{table.in_Temperature.27F}}</td>
                                      <td>{{table.in_enthalpy.27F}}</td>
                                      <td>{{table.recommend.27F}}</td>
                                      <td>{{table.now_state.27F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">28F</th>
                                      <td>{{table.od_value.28F}}</td>
                                      <td>{{table.in_Temperature.28F}}</td>
                                      <td>{{table.in_enthalpy.28F}}</td>
                                      <td>{{table.recommend.28F}}</td>
                                      <td>{{table.now_state.28F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">29F</th>
                                      <td>{{table.od_value.29F}}</td>
                                      <td>{{table.in_Temperature.29F}}</td>
                                      <td>{{table.in_enthalpy.29F}}</td>
                                      <td>{{table.recommend.29F}}</td>
                                      <td>{{table.now_state.29F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">30F</th>
                                      <td>{{table.od_value.30F}}</td>
                                      <td>{{table.in_Temperature.30F}}</td>
                                      <td>{{table.in_enthalpy.30F}}</td>
                                      <td>{{table.recommend.30F}}</td>
                                      <td>{{table.now_state.30F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">31F</th>
                                      <td>{{table.od_value.31F}}</td>
                                      <td>{{table.in_Temperature.31F}}</td>
                                      <td>{{table.in_enthalpy.31F}}</td>
                                      <td>{{table.recommend.31F}}</td>
                                      <td>{{table.now_state.31F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">32F</th>
                                      <td>{{table.od_value.32F}}</td>
                                      <td>{{table.in_Temperature.32F}}</td>
                                      <td>{{table.in_enthalpy.32F}}</td>
                                      <td>{{table.recommend.32F}}</td>
                                      <td>{{table.now_state.32F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">33F</th>
                                      <td>{{table.od_value.33F}}</td>
                                      <td>{{table.in_Temperature.33F}}</td>
                                      <td>{{table.in_enthalpy.33F}}</td>
                                      <td>{{table.recommend.33F}}</td>
                                      <td>{{table.now_state.33F}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SUMITS 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts' %}" ></script>
    </body>
</html>
