{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title> SKT타워 운영현황 </title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->        
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    </head>
    <body>
         <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-3">
                <a class="navbar-brand" href="{% url 'index' %}">TSOP Web</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'oa_control' %}">재실자 기반 환기량</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'enthalpy_control' %}">외기냉방 제어</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'ahu_optimal_control' %}">공조기 최적기동 시간</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'elec_consumption' %}">전력소비(예정)</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'elec_peak' %}">전력 Peak(예정)</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="py-5">
            <div class="container px-lg-5">
                <div class="p-2 p-lg-5 bg-light rounded-3 text-center">
                    <div class="m-3 m-lg-5">
                        <h2 class="fs-4 fw-bold"> SKT타워 재실자 현황 현황 </h2>
                        <p class="fs-4"> 준비예정 </p>
                    </div>
                </div>
            </div>
        </header>
        <!-- Page Content-->
        <section class="pt-4">
            <div class="container px-lg-5">
                <!-- Page Features-->
                <div class="row gx-lg-5">
                    <div class="col-lg-6 col-xxl-4 mb-5">
                        <div class="card bg-light border-0 h-100">
                            <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-4 mt-n4"><i class="bi bi-lightning"></i></div>
                                <h2 class="fs-4 fw-bold"> SKT타워 재실자 현황 현황 </h2>
                                <p class="mb-0"> 준비예정 </p>
                                <table class="table table-striped">
                                  <thead>
                                    <tr>
                                      <th scope="col">층</th>
                                      <th scope="col">재실인원(명)</th>
                                      <th scope="col">외기댐퍼(%)</th>
                                      <th scope="col">권장(%)</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">01F</th>
                                      <td>{{count.01F}}</td>
                                      <td>{{OAD.01F}}</td>
                                      <td>{{Optimal_OAD.01F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">02F</th>
                                      <td>{{count.02F}}</td>
                                      <td>{{OAD.02F}}</td>
                                      <td>{{Optimal_OAD.02F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">03F</th>
                                      <td>{{count.03F}}</td>
                                      <td>{{OAD.03F}}</td>
                                      <td>{{Optimal_OAD.03F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">04F</th>
                                      <td>{{count.04F}}</td>
                                      <td>{{OAD.04F}}</td>
                                      <td>{{Optimal_OAD.04F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">05F</th>
                                      <td>{{count.05F}}</td>
                                      <td>{{OAD.05F}}</td>
                                      <td>{{Optimal_OAD.05F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">06F</th>
                                      <td>{{count.06F}}</td>
                                      <td>{{OAD.06F}}</td>
                                      <td>{{Optimal_OAD.06F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">07F</th>
                                      <td>{{count.07F}}</td>
                                      <td>{{OAD.07F}}</td>
                                      <td>{{Optimal_OAD.07F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">08F</th>
                                      <td>{{count.08F}}</td>
                                      <td>{{OAD.08F}}</td>
                                      <td>{{Optimal_OAD.08F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">09F</th>
                                      <td>{{count.09F}}</td>
                                      <td>{{OAD.09F}}</td>
                                      <td>{{Optimal_OAD.09F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">10F</th>
                                      <td>{{count.10F}}</td>
                                      <td>{{OAD.10F}}</td>
                                      <td>{{Optimal_OAD.10F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">11F</th>
                                      <td>{{count.11F}}</td>
                                      <td>{{OAD.11F}}</td>
                                      <td>{{Optimal_OAD.11F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">12F</th>
                                      <td>{{count.12F}}</td>
                                      <td>{{OAD.12F}}</td>
                                      <td>{{Optimal_OAD.12F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">13F</th>
                                      <td>{{count.13F}}</td>
                                      <td>{{OAD.13F}}</td>
                                      <td>{{Optimal_OAD.13F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">14F</th>
                                      <td>{{count.14F}}</td>
                                      <td>{{OAD.14F}}</td>
                                      <td>{{Optimal_OAD.14F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">15F</th>
                                      <td>{{count.15F}}</td>
                                      <td>{{OAD.15F}}</td>
                                      <td>{{Optimal_OAD.15F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">16F</th>
                                      <td>{{count.16F}}</td>
                                      <td>{{OAD.16F}}</td>
                                      <td>{{Optimal_OAD.16F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">17F</th>
                                      <td>{{count.17F}}</td>
                                      <td>{{OAD.17F}}</td>
                                      <td>{{Optimal_OAD.17F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">18F</th>
                                      <td>{{count.18F}}</td>
                                      <td>{{OAD.18F}}</td>
                                      <td>{{Optimal_OAD.18F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">19F</th>
                                      <td>{{count.19F}}</td>
                                      <td>{{OAD.19F}}</td>
                                      <td>{{Optimal_OAD.19F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">20F</th>
                                      <td>{{count.20F}}</td>
                                      <td>{{OAD.20F}}</td>
                                      <td>{{Optimal_OAD.20F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">21F</th>
                                      <td>{{count.21F}}</td>
                                      <td>{{OAD.21F}}</td>
                                      <td>{{Optimal_OAD.21F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">22F</th>
                                      <td>{{count.22F}}</td>
                                      <td>{{OAD.22F}}</td>
                                      <td>{{Optimal_OAD.22F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">01F</th>
                                      <td>{{count.01F}}</td>
                                      <td>{{OAD.01F}}</td>
                                      <td>{{Optimal_OAD.01F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">22F</th>
                                      <td>{{count.22F}}</td>
                                      <td>{{OAD.22F}}</td>
                                      <td>{{Optimal_OAD.22F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">23F</th>
                                      <td>{{count.23F}}</td>
                                      <td>{{OAD.23F}}</td>
                                      <td>{{Optimal_OAD.23F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">24F</th>
                                      <td>{{count.24F}}</td>
                                      <td>{{OAD.24F}}</td>
                                      <td>{{Optimal_OAD.24F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">25F</th>
                                      <td>{{count.25F}}</td>
                                      <td>{{OAD.25F}}</td>
                                      <td>{{Optimal_OAD.25F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">01F</th>
                                      <td>{{count.01F}}</td>
                                      <td>{{OAD.01F}}</td>
                                      <td>{{Optimal_OAD.01F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">26F</th>
                                      <td>{{count.26F}}</td>
                                      <td>{{OAD.26F}}</td>
                                      <td>{{Optimal_OAD.26F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">27F</th>
                                      <td>{{count.27F}}</td>
                                      <td>{{OAD.27F}}</td>
                                      <td>{{Optimal_OAD.27F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">28F</th>
                                      <td>{{count.28F}}</td>
                                      <td>{{OAD.28F}}</td>
                                      <td>{{Optimal_OAD.28F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">29F</th>
                                      <td>{{count.29F}}</td>
                                      <td>{{OAD.29F}}</td>
                                      <td>{{Optimal_OAD.29F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">30F</th>
                                      <td>{{count.30F}}</td>
                                      <td>{{OAD.30F}}</td>
                                      <td>{{Optimal_OAD.30F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">31F</th>
                                      <td>{{count.31F}}</td>
                                      <td>{{OAD.31F}}</td>
                                      <td>{{Optimal_OAD.31F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">32F</th>
                                      <td>{{count.32F}}</td>
                                      <td>{{OAD.32F}}</td>
                                      <td>{{Optimal_OAD.32F}}</td>
                                    </tr>
                                    <tr>
                                      <th scope="row">33F</th>
                                      <td>{{count.33F}}</td>
                                      <td>{{OAD.33F}}</td>
                                      <td>{{Optimal_OAD.33F}}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SUMITS 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'js/scripts' %}" ></script>
    </body>
</html>
