<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-309w{background-color:#9698ed;border-color:#ffffff;text-align:left;vertical-align:top}
.tg .tg-zv4m{border-color:#ffffff;text-align:left;vertical-align:top}
</style>
<table class="tg">
  <title>SKT타워 </title>
<thead>
  <tr>
    <th class="tg-309w">층</th>
    <th class="tg-309w">재실인원(명)</th>
    <th class="tg-309w">외기댐퍼개도율(%)</th>
    <th class="tg-309w">권장개도율(%)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-zv4m">1F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">2F</td>
    <td class="tg-zv4m">2</td>
    <td class="tg-zv4m">20</td>
    <td class="tg-zv4m">200</td>
  </tr>
  <tr>
    <td class="tg-zv4m">3F</td>
    <td class="tg-zv4m">3</td>
    <td class="tg-zv4m">30</td>
    <td class="tg-zv4m">300</td>
  </tr>
  <tr>
    <td class="tg-zv4m">4F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">5F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">6F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">7F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">8F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">9F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">10F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">11F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">12F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">13F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">14F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">15F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">16F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">17F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">18F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">19F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">20F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">21F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">22F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">23F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">24F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">25F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">26F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">27F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">28F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">29F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">30F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">31F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">32F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
  <tr>
    <td class="tg-zv4m">33F</td>
    <td class="tg-zv4m">1</td>
    <td class="tg-zv4m">10</td>
    <td class="tg-zv4m">100</td>
  </tr>
</tbody>
</table>
