<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-y8ve{border-color:#dae8fc;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-b6aq{background-color:#9698ed;border-color:#dae8fc;color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
.tg .tg-mdl1{border-color:#dae8fc;text-align:center;vertical-align:top}
</style>
<table class="tg">
  <title>SKT타워 </title>
  <p>왜 안나오냐 </p>
  <p>{{context.Tcount}} 가</p>
  <p>{{context}} 나</p>
  <p>{{values.Tcount}} 다</p>
  <p>{{values}} 다</p>
<thead>
  <tr>
    <th class="tg-b6aq">층</th>
    <th class="tg-b6aq">재실인원(명)</th>
    <th class="tg-b6aq">외기댐퍼개도율(%)</th>
    <th class="tg-b6aq">권장개도율(%)</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-y8ve">1F</td>
    <td class="tg-mdl1">1</td>
    <td class="tg-mdl1">10</td>
    <td class="tg-mdl1">100</td>
  </tr>
  <tr>
    <td class="tg-y8ve">2F</td>
    <td class="tg-mdl1">2</td>
    <td class="tg-mdl1">20</td>
    <td class="tg-mdl1">200</td>
  </tr>
  <tr>
    <td class="tg-y8ve">3F</td>
    <td class="tg-mdl1">3</td>
    <td class="tg-mdl1">30</td>
    <td class="tg-mdl1">300</td>
  </tr>
  <tr>
    <td class="tg-y8ve">4F</td>
    <td class="tg-mdl1">4</td>
    <td class="tg-mdl1">1</td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">5F</td>
    <td class="tg-mdl1">5</td>
    <td class="tg-mdl1">2</td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">6F</td>
    <td class="tg-mdl1">6</td>
    <td class="tg-mdl1">34</td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">7F</td>
    <td class="tg-mdl1">7</td>
    <td class="tg-mdl1">5</td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">8F</td>
    <td class="tg-mdl1">8</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">9F</td>
    <td class="tg-mdl1">9</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">10F</td>
    <td class="tg-mdl1">10</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">11F</td>
    <td class="tg-mdl1">11</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">12F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">13F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">14F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">15F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">16F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">17F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">18F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">19F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">20F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">21F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">22F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">23F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">24F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">25F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">26F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">27F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">28F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">29F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">30F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">31F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">32F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
  <tr>
    <td class="tg-y8ve">33F</td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
    <td class="tg-mdl1"></td>
  </tr>
</tbody>
</table>
